<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @portfolio.name %>
</p>

<p>
  <b>Url:</b>
  <%= @portfolio.url %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @portfolio.image, :width => 200 %>
  <%= @portfolio.image.url %>
</p>


<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
